@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.svg-container{
    display: none;
}
body{
    width: 100%;
    padding-bottom: 0;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: max-content;
    overflow: hidden;
}
.space_side a{
width: max-content;
}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .1vw;
    /* align-items: center; */
}
.logo a{
    display: flex;
    align-items: center;
}

.logo span{
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: block;
    font-size: 1.2vw;
    color: white;
}
.logo img{
    padding: .2vw;
    
    width: 2vw;
}
.search_box{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.2vw 1.5vw;
    position: relative;
    width: 100%;
    height: 1.4vw;
    border-radius: 100vw;
}
.search_box input{
    width: 100%;
    font-size: 1vw;
    outline: none;
    border: none;
    padding: .8vw 0;
    background-color: transparent;
}
.search_box input::placeholder{
    font-size: .8vw;
}
.search_box iconify-icon{
    font-size: 1.4vw;
}

.layout_dekstop{
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: 77% 23%;
    height: max-content;
}
.space_layout{
    display: none;
}
.space_layout_dekstop{
    display: block;
    margin-bottom: .3vw;
}
.space{
    height: 11.3vw;
    width: 100%;
    background-color: white;
    border-radius: .7vw;
}

.layout_sidebar_dekstop{
    position: fixed;
    width: 13%;
    /* margin-right: 1vw; */
    margin-top: .4vw;
    /* padding-left: 1vw; */
    display: block;
}
.layout_content_dekstop::-webkit-scrollbar {
    width: 0.5vw; /* Sesuaikan lebar scrollbar */
}

.layout_content_dekstop::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 0, 0, 0.2); Warna scrollbar */
    border-radius: 1vw;
}
.layout_sidebar_dekstop ul{
    display: flex;
    justify-content: center;
    gap: 1.7vw;
    margin-bottom: .3vw;
}
.layout_sidebar_dekstop ul li{
    list-style: none;
    font-size: .7vw;
    color:black;
}
.layout_sidebar_dekstop ul li a{
    color: black;
}
.layout_sidebar_dekstop span{
    display: block;
    text-align: center;
    font-size: .8vw;
    color:black;
}
.banner{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: .2vw 2vw;
    text-align: center;
}
.image_banner{
    width: 10vw;
    display: block;
    margin: auto;
    transform: rotate(-50deg);
    z-index: 0;
}
.banner_content{
    width: 60%;
}

.catalog_layout{
    text-align: center;
    padding: .7vw 1.4vw;
}
.catalog_layout h3{
    font-size: 1.3vw;
  font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 2vw;
}
.catalog_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
}
.image_grid{
    width: 100%;
    height: 7vw;
    overflow: hidden;
    border-radius: 0.9vw;
    position: relative;
}
.image_grid img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.price_grid{
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 1vw;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.459);
    padding: .5vw 1vw;
    display: flex;
    align-items: center;
}

.content_grid{
    display: grid;
    grid-template-columns: 72% 28%;
    justify-items: stretch;
    width: 85%;
    padding: .8vw 0;
}
.content_grid a{
 background: none;
}

.footer-two div{
    /* border: 1px solid white; */
}
.container-footer{
    background-color: rgb(35, 34, 34);

}
.dot-li{
    list-style: none;
}
    .footer-two{
    width: 47%;
    margin: 0 auto;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .1vw; 
    padding: 2vw;
}
.footer-two div button{
    background-color: #0056b3;
    width: 6vw;
    height: 1.2vw;
    border: none;
    color: white;
    border-radius: 4px;
    margin-top: .2vw;
    font-size: .8vw;
    float: right;
}
.logo-footer{
/* padding-left: 12vw; */
}
.logo-footer img{
    margin-left: 2.3vw;
    transform: rotate(-50deg);
}
.footer-two div img{
    width: 2.7vw;
    margin-left: 4vw;
}
.footer-two div .cpy{
    /* position: absolute; */
    text-align: center;
    font-size: .6vw;

}
    .footer-two div .subscribe{
        font-size: .62vw;
    }
    .footer-two div p{
    font-size: .9vw;
    padding-bottom: .2vw;
    color: white;
}
    .footer-two div input{
    width: 100%;
    height: 1.2vw;
    outline: none;
    margin-top: 0.2vw;
    border-radius: .5vw;
    padding: 0.6vw;
}
.footer-two div input::placeholder {
    font-size: 0.7vw; 
}
ul li .dot-sosmed iconify-icon{
    font-size: .6vw;
}
.footer-two ul li a iconify-icon{
    color: white;
}
    .footer-two ul li a{
    display: flex;
    align-items: center;
    color: white;
}
.footer-two ul li {
    color: white;
    position: relative;
    list-style-position: inside;
    padding-bottom: 0.3vw;
    font-size: .6vw;
    /* border: 1px solid #ccc; */
    list-style: none;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 1.4vw;
}
.contact_field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: .6vw;
}
.contact_field label{
    font-size: 1.1vw;
}
.contact_field input{
    width: 100%;
    font-size: 1.1vw;
    padding: .8vw 1.1vw;
    outline: none;
    border: .12vw solid #0866ff;
    border-radius: .6vw;
}
.contact_field textarea{
    width: 100%;
    font-size: 1.1vw;
    padding: .8vw 1.1vw;
    outline: none;
    border: .12vw solid #0866ff;
    border-radius: .6vw;
    height:3.2vw;
}
.contact button{
    background-color: #0866ff;
    font-size: 1.1vw;
    outline: none;
    border: none;
    padding: .8vw 2vw;
    color: white;
    border-radius: .6vw;
}
.card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 20px;
    padding: 1vw;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0056b3;
}

.card-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}
.carousel-container {
    position: relative;
    width: 50%;
    max-width: 60vw; 
    margin: 2vw;
    overflow: hidden;
    border-radius: .7vw;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    border-radius: 2vw;
}

.carousel-dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-dot {
    background-color: #717171;
}

.arrow {
    position: absolute;
    margin-left: 2vw;
    margin-top: -2vw;
    color: black;
}
.price{
    margin-top: 2vw;
    color: red;
}
    .des-wrap {
    width: 100%;
    text-align: left;
    }
    .description {
    width: 50%;
    padding: 1vw;
    margin: 2vw;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* height: 200px; Pastikan tinggi elemen sudah ditentukan */
}

.description p{
    display: none;
    margin-top: 1vw;
}
.detail_catalog_layout .dekstop{
    padding: 2vw;
    display: block;
 }
.detail_catalog{
    margin-top: 3vw;
    display: flex;
}
.hamburger{
    display: none;
}
.mobile-1{
    display: none;
}
.mobile-2{
    display: none;
}
.description .price{
    font-size: 2.4vw;
}
.description h3{
    font-size: 2vw;
}

@media (max-width:768px) {
    .mobile-1{
        display: block;
    }
    .mobile-2{
        display: block;
    }
    .description .price{
        font-size: 4.7vw;
    }
    .description h3{
        font-size: 4.3vw;
    }
    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 600px; /* Sesuaikan dengan lebar yang diinginkan */
        margin: auto;
        overflow: hidden;
        border-radius: .7vw;
    }
    
    .carousel-slide {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-image {
        width: 100%;
        border-radius: 4vw;
    }
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .dot {
        height: 8px;
        width: 8px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }
    
    .active-dot {
        background-color: #717171;
    }
    
    .arrow {
        position: relative;
    }
    .svg-container{
        display: block;
    }
    .banner_content{
        width: 100%;
    }
    .layout_sidebar_dekstop{
        display: none;
    }
    .layout_sidebar_dekstop ul{
        display: none;
    }
    .layout_sidebar_dekstop span{
        display: none;
    }
    .layout_content_dekstop{
        background-color: white;
        margin: 0;
        height: max-content;
    }
    body{
        width: 100%;
        padding-bottom: 22vw;
    }
    .container{
        width: 100%;
        height: max-content;
        overflow: inherit;
    }
    .space_layout_dekstop{
        display: none;
    }
    .layout_dekstop{
        display: block;
        height: max-content;
    }
    .logo{
        width: 100%;
        display: flex;
        margin-top: 1vw;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }
    .logo span{
        display: none;
    }
    .logo img{
        width: 80%;
    }
    .search_box{
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 4.5vw;
        width: 100%;
        height: 10vw;
        border-radius: 100vw;
    }
    .search_box input{
        width: 100%;
        font-size: 4vw;
        outline: none;
        border: none;
        padding: 2.3vw 0;
        background-color: transparent;
    }
    .search_box input::placeholder{
        font-size: 4vw;
    }
    .search_box iconify-icon{
        font-size: 4.3vw;
    }
    
    .hamburger{
        width: max-content;
        background-color: transparent;
        outline: none;
        border: none;
        text-align: end;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger iconify-icon{
        font-size: 9.5vw;
        color: white;
    }
    
    .banner{
        padding: 5vw 6vw;
        text-align: center;
        display: inherit;
    }
    .image_banner{
        width: 35vw;
        display: block;
        margin: auto;
        transform: rotate(-50deg);
        z-index: -1;
    }
    .banner a button iconify-icon{
        font-size: 4vw;
    }
    
    .catalog_layout{
        text-align: center;
        padding: 2.8vw 3vw;
    }
    .catalog_layout h3{
        font-size: 4.8vw;
        margin-bottom: 3vw;
    }
    .catalog_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3vw;
    }
    .detail_catalog_layout{
        text-align: left;
        padding: 2.8vw 3vw;
    }
    .detail_catalog{
        display: block;
        padding: 1.5vw;
    }
    .description{
        padding: 1vw;
        width: 100%;
        margin-top: 2vw;
    }
    .description p{
       display: block;
        margin-top: 4vw;
    }
    .detail_catalog_layout .dekstop{
        display: none;
     }
    .image_grid{
        width: 100%;
        height: 26vw;
        overflow: hidden;
        position: relative;
        border-radius: 2vw;
    }
    .image_grid img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
    }
    .price_grid{
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 3vw;
        width: max-content;
        background-color: rgba(0, 0, 0, 0.459);
        padding: .8vw 1.6vw;
        border-radius: 1vw 0 0 1vw;
        display: flex;
        align-items: center;
    }
    .price{
        margin-top: 2vw;
        color: red;
    }
    .images_detail{
        width: 90vw;
        height: auto;
    }
    .content_grid{
        display: grid;
        grid-template-columns: 72% 28%;
        justify-items: stretch;
        width: 100%;
        padding: 1.3vw 0;
    }
    .space_layout{
        padding: 1vw 3vw;
        display: block;
    }
    .space{
        height: 60vw;
        width: 100%;
        border-radius: 3vw;
    }
    
    .contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 4vw;
    }
    .contact_field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1vw;
    }
    .contact_field label{
        font-size: 3.8vw;
    }
    .contact_field input{
        width: 100%;
        font-size: 3.8vw;
        padding: 1.9vw 2.8vw;
        outline: none;
        border: .12vw solid #0866ff;
        border-radius: 1vw;
    }
    .contact_field textarea{
        width: 100%;
        font-size: 3.8vw;
        padding: 1.9vw 2.8vw;
        outline: none;
        border: .12vw solid #0866ff;
        border-radius: 1vw;
        height: 27vw;
    }
    .contact button{
        background-color: #0866ff;
        font-size: 3.8vw;
        outline: none;
        border: none;
        padding: 2.8vw 3vw;
        color: white;
        border-radius: 1vw;
    }
    
    .sidebar.show {
        display: block;
        transform: translateX(0);
    }
    .sidebar.show .menu{
        border-radius: 50vw;
    }
    .sidebar .menu a{
        width: 100%;
        color: #ffffff;
        text-align: center;
    }
    .lisensi_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3vw;
    }
    
    .card:hover {
        transform: translateY(-10px);
    }
    
    .card-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    .card-content {

        padding: 15px;
    }
    
    .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #0056b3;

    }
    
    .card-text {

        font-size: 1em;
        color: #666;
        margin-bottom: 20px;

        
    }
    
    .card-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .card-button:hover {
        background-color: #0056b3;
    }
}
@media (min-width:768px) and (max-width:1024px) {
    /* Untuk perangkat tablet dalam orientasi potrait */
    .footer-two{
        height: 20.2vw;
    }
}