@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.svg-container{
    display: none;
}
body{
    width: 100%;
    padding-bottom: 0;
}
a{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header{
    display: grid;
    grid-template-columns: 27% 46% 27%;
    align-items: center;
    padding: .4vw 2vw;
    justify-items:end;
    background-color: #0866ff;
    width: 100%;
}
.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .6vw;
}
.logo span{
    display: block;
    font-size: 2.4vw;
    color: white;
}
.logo img{
    width: 3.7vw;
}
.search_box{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 1.5vw;
    width: 100%;
    border-radius: 100vw;
}
.search_box input{
    width: 100%;
    font-size: 1.1vw;
    outline: none;
    border: none;
    padding: .8vw 0;
    background-color: transparent;
}
.search_box input::placeholder{
    font-size: 1.1vw;
}
.search_box iconify-icon{
    font-size: 1.4vw;
}
.guide{
    display: block;
    color: white;
    width: max-content;
    background-color: transparent;
    outline: none;
    border: none;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.layout_dashboard{
    background-color: #65bde0;
}
.fixed_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4vw;
    padding: .6vw 0;
}
.box_fixed_menu iconify-icon{
    display: none;
}
.box_fixed_menu h3{
    color: white;
    font-size: 2vw;
}

.layout_dekstop{
    display: grid;
    grid-template-columns: 77% 23%;
    height: 93vh;
}
.space_layout{
    display: none;
}
.space_layout_dekstop{
    display: block;
    margin-bottom: .5vw;
}
.space{
    height: 11.3vw;
    width: 100%;
    background-color: white;
    border-radius: .7vw;
}
.layout_sidebar_dekstop{
    margin-right: 1vw;
    margin-top: .4vw;
    display: block;
}
.layout_content_dekstop{
    background-color: white;
    margin: 1vw;
    margin-top: .45vw;
    border-radius: .7vw;
    overflow-y: scroll;
    height: 80.6vh;
}
.layout_content_dekstop::-webkit-scrollbar {
    width: 0.5vw; /* Sesuaikan lebar scrollbar */
}

.layout_content_dekstop::-webkit-scrollbar-thumb {
    /* background-color: rgba(0, 0, 0, 0.2); Warna scrollbar */
    border-radius: 1vw;
}
.layout_sidebar_dekstop ul{
    display: flex;
    justify-content: center;
    gap: 1.7vw;
    margin-bottom: .3vw;
}
.layout_sidebar_dekstop ul li{
    list-style: none;
    font-size: 1vw;
    color:white;
}
.space_side{
    background-color: white;
    width: 100%;
    height: 2.8vw;
    margin-bottom: .5vw;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: .7vw;
}
.layout_sidebar_dekstop ul li a{
    color: white;
}
.layout_sidebar_dekstop span{
    display: block;
    text-align: center;
    font-size: 1vw;
    color:white;
}
.banner{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 3vw 2vw;
    text-align: center;
}
.image_banner{
    width: 16vw;
    display: block;
    margin: auto;
    transform: rotate(-50deg);
    z-index: 0;
}
.banner_content{
    width: 60%;
}
.banner h1{
    margin-top:0;
    z-index: 1;
    font-family: "Lexend Deca", sans-serif;
    font-size: 3.2vw;
    margin-bottom: 2vw;
}
.banner button{
    font-size: 1.4vw;
    border: none;
    outline: none;
    padding: .7vw 1.6vw;
    border-radius: 100vw;
    background-color: #0866ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: .7vw;
    cursor: pointer;
}
.banner button iconify-icon{
    font-size: 1.3vw;
}

.catalog_layout{
    text-align: center;
    padding: .7vw 1.4vw;
}
.catalog_layout h3{
    font-size: 2.3vw;
    margin-bottom: 2vw;
}
.catalog_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
}
.box_grid{
    padding: .6vw;
    background-color: #0866ff;
    border-radius: 1vw;
}
.image_grid{
    width: 100%;
    height: 13vw;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
}
.image_grid img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.price_grid{
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 1vw;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.459);
    padding: .5vw 1vw;
    border-radius: 1vw 0 0 1vw;
    display: flex;
    align-items: center;
}
.price_grid span{
    color: white;
    font-size: 1.3vw;
}

.content_grid{
    display: grid;
    grid-template-columns: 72% 28%;
    justify-items: stretch;
    width: 100%;
    padding: .8vw 0;
}
.content_grid h4{
    text-align: start;
    color: white;
    font-size: 1.3vw;
    font-weight: 500;
    display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
}
.content_grid button{
    font-size: 1.3vw;
    background-color: #00a349;
    border: none;
    outline: none;
    color: white;
    padding: .4vw 1.7vw;
    width: max-content;
    border-radius: 100vw;
}
.see_other{
    margin-top: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
    font-size: 1.3vw;
    font-weight: 600;
    color: #0866ff;
}

.contact{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 1.4vw;
}
.contact_field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: .6vw;
}
.contact_field label{
    font-size: 1.1vw;
}
.contact_field input{
    width: 100%;
    font-size: 1.1vw;
    padding: .8vw 1.1vw;
    outline: none;
    border: .12vw solid #0866ff;
    border-radius: .6vw;
}
.contact_field textarea{
    width: 100%;
    font-size: 1.1vw;
    padding: .8vw 1.1vw;
    outline: none;
    border: .12vw solid #0866ff;
    border-radius: .6vw;
    height:3.2vw;
}
.contact button{
    background-color: #0866ff;
    font-size: 1.1vw;
    outline: none;
    border: none;
    padding: .8vw 2vw;
    color: white;
    border-radius: .6vw;
}
.sidebar {
    display: none;
}
.card {
    width: 90%;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    background-color: white;
    margin: 20px;
    padding: 1vw;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #0056b3;
}

.card-text {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}
.carousel-container {
    position: relative;
    width: 50%;
    max-width: 60vw; 
    margin: 2vw;
    overflow: hidden;
    border-radius: .7vw;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    width: 100%;
    border-radius: 2vw;
}

.carousel-dots {
    text-align: center;
    margin-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active-dot {
    background-color: #717171;
}

.arrow {
    position: absolute;
    margin-left: 2vw;
    margin-top: -1vw;
    color: black;
}
.price{
    margin-top: 2vw;
    color: red;
}
.description{
    width: 50%;
    /* border: 1px solid black; */
    padding: 1vw;
    margin: 2vw;
}
.description p{
    margin-top: 1vw;
}
.buynow{
    cursor: pointer;
    width: 35%;
    margin-top: 1.5vw;
    border-radius:3vw;
    height: 2.3vw;
    color: white;
    border: none;
    background-color: #00A400;
}
.detail_catalog{
    margin-top: 3vw;
    display: flex;
}
.hamburger{
    display: none;
}
@media (max-width:768px) {
    .guide{
        display: none;
    }
    .carousel-container {
        position: relative;
        width: 100%;
        max-width: 600px; /* Sesuaikan dengan lebar yang diinginkan */
        margin: auto;
        overflow: hidden;
        border-radius: .7vw;
    }
    
    .carousel-slide {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .carousel-image {
        width: 100%;
        border-radius: 4vw;
    }
    
    .carousel-dots {
        text-align: center;
        margin-top: 10px;
    }
    
    .dot {
        height: 8px;
        width: 8px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }
    
    .active-dot {
        background-color: #717171;
    }
    
    .arrow {
        position: relative;
    }
    .svg-container{
        display: block;
    }
    .banner_content{
        width: 100%;
    }
    .layout_sidebar_dekstop{
        display: none;
    }
    .layout_sidebar_dekstop ul{
        display: none;
    }
    .layout_sidebar_dekstop span{
        display: none;
    }
    .layout_content_dekstop{
        background-color: white;
        margin: 0;
        height: max-content;
    }
    body{
        width: 100%;
        padding-bottom: 22vw;
    }
    .container{
        width: 100%;
        height: max-content;
        overflow: inherit;
    }
    .space_layout_dekstop{
        display: none;
    }
    .layout_dekstop{
        display: block;
        height: max-content;
    }
    .layout_dashboard{
        background-color: #ffffff;
    }
    .header{
        display: grid;
        grid-template-columns: 14% 72% 14%;
        align-items: center;
        padding: 2vw 2vw;
        justify-items:end;
        background-color: #0866ff;
        width: 100%;
    }
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;
    }
    .logo span{
        display: none;
    }
    .logo img{
        width: 75%;
    }
    .search_box{
        display: flex;
        align-items: center;
        background-color: white;
        padding: 0 4.5vw;
        width: 100%;
        border-radius: 100vw;
    }
    .search_box input{
        width: 100%;
        font-size: 4vw;
        outline: none;
        border: none;
        padding: 2.3vw 0;
        background-color: transparent;
    }
    .search_box input::placeholder{
        font-size: 4vw;
    }
    .search_box iconify-icon{
        font-size: 4.3vw;
    }
    
    .hamburger{
        width: max-content;
        background-color: transparent;
        outline: none;
        border: none;
        text-align: end;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hamburger iconify-icon{
        font-size: 9.5vw;
        color: white;
    }
    
    .banner{
        padding: 5vw 6vw;
        text-align: center;
        display: inherit;
    }
    .image_banner{
        width: 35vw;
        display: block;
        margin: auto;
        transform: rotate(-50deg);
        z-index: -1;
    }
    .banner h1{
        margin-top: -4.8vw;
        z-index: 1;
        font-family: "Lexend Deca", sans-serif;
        font-size: 6vw;
        margin-bottom: 6vw;
    }
    .banner button{
        font-size: 3.7vw;
        border: none;
        outline: none;
        padding: 1.9vw 4.5vw;
        border-radius: 100vw;
        background-color: #0866ff;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 2.2vw;
    }
    .banner button iconify-icon{
        font-size: 4vw;
    }
    
    .catalog_layout{
        text-align: center;
        padding: 2.8vw 3vw;
    }
    .catalog_layout h3{
        font-size: 4.8vw;
        margin-bottom: 3vw;
    }
    .catalog_grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3vw;
    }
    .detail_catalog_layout{
        text-align: left;
        padding: 2.8vw 3vw;
    }
    .detail_catalog{
        display: block;
        padding: 1.5vw;
    }
    .description{
        padding: 1vw;
        width: 100%;
        margin-top: 2vw;
    }
   .description p{
        margin-top: 4vw;
    }
    .buynow{
        cursor: pointer;
        width: 100%;
        border-radius:3vw;
        margin-top: 7vw;
        height: 7vw;
        color: white;
        border: none;
    }
    .box_grid{
        padding: 1.2vw;
        background-color: #0866ff;
        border-radius: 2vw;
    }
    .image_grid{
        width: 100%;
        height: 26vw;
        overflow: hidden;
        border-radius: 2vw;
        position: relative;
    }
    .image_grid img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
    }
    .price_grid{
        z-index: 2;
        position: absolute;
        right: 0;
        bottom: 3vw;
        width: max-content;
        background-color: rgba(0, 0, 0, 0.459);
        padding: .8vw 1.6vw;
        border-radius: 1vw 0 0 1vw;
        display: flex;
        align-items: center;
    }
    .price_grid span{
        color: white;
        font-size: 3vw;
    }
    .price{
        margin-top: 2vw;
        color: red;
    }
    .images_detail{
        width: 90vw;
        height: auto;
    }
    .content_grid{
        display: grid;
        grid-template-columns: 72% 28%;
        justify-items: stretch;
        width: 100%;
        padding: 1.3vw 0;
    }
    .content_grid h4{
        text-align: start;
        color: white;
        font-size: 3.2vw;
        font-weight: 500;
        display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
    }
    .content_grid button{
        font-size: 3.2vw;
        background-color: #00a349;
        border: none;
        outline: none;
        color: white;
        padding: .6vw 2.7vw;
        width: max-content;
        border-radius: 100vw;
    }
    .see_other{
        margin-top: 4vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1vw;
        font-size: 4.3vw;
        font-weight: 600;
        color: #0866ff;
    }
    
    .space_layout{
        padding: 1vw 3vw;
        display: block;
    }
    .space{
        height: 60vw;
        width: 100%;
        background-color: #0866ff;
        border-radius: 3vw;
    }
    
    .fixed_menu{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        background-color: black;
        z-index: 10;
        justify-items: center;
        padding: 3.6vw 8vw;
        padding-top: 0;
        align-items: flex-end;
    }
    .box_fixed_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        gap: 1vw;
    }
    .active{
        width: 14vw;
        height: 14vw;
        border-radius: 100vw;
        /* background-color: white;
        border: 1vw solid #0866ff; */
        content: '';
        transform: scale(1.4);
        gap: .4vw;
        margin-top: -6vw;
        margin-bottom: 1vw;
        z-index: 3;
    }
    .active::before{
        left: -6.6vw;
        top: -2.8vw;
        width: 27vw;
        height: 5.8vw;
        position: absolute;
        clip-path: url(#menu);
        will-change: transform;
        background-color: black;
        transition: transform var(--timeOut , var(--duration));
        content: '';
        z-index: -1;
    }
    .active::after{
        width: 12.5vw;
        height: 12.5vw;
        position: absolute;
        background-color: white;
        border-radius: 100vw;
        content: '';
        z-index: -1;
    }
    .box_fixed_menu iconify-icon{
        font-size: 6vw;
        display: block;
        color: white;
    }
    .box_fixed_menu h3{
        color: white;
        font-weight: 400;
        font-size: 3vw;
    }
    .active iconify-icon{
        color: black;
        font-size: 4.6vw;
    }
    .active h3{
        color: black;
        font-size: 2.3vw;
    }
    .contact{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        grid-gap: 4vw;
    }
    .contact_field{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        gap: 1vw;
    }
    .contact_field label{
        font-size: 3.8vw;
    }
    .contact_field input{
        width: 100%;
        font-size: 3.8vw;
        padding: 1.9vw 2.8vw;
        outline: none;
        border: .12vw solid #0866ff;
        border-radius: 1vw;
    }
    .contact_field textarea{
        width: 100%;
        font-size: 3.8vw;
        padding: 1.9vw 2.8vw;
        outline: none;
        border: .12vw solid #0866ff;
        border-radius: 1vw;
        height: 27vw;
    }
    .contact button{
        background-color: #0866ff;
        font-size: 3.8vw;
        outline: none;
        border: none;
        padding: 2.8vw 3vw;
        color: white;
        border-radius: 1vw;
    }
    .sidebar {
        display: none;
        right: 0;
        z-index: 3;
        background-color: #fff;
        width: 60%;
        position: absolute;
        height: 100%;
        border: 1px solid #0866ff;
        transition: transform 0.3s ease;
    }
    
    .sidebar.show {
        display: block;
        transform: translateX(0);
    }
    
    .sidebar .menu{
        width: 90%;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin: auto;
        background-color: #0866ff;
    }
    .sidebar .menu a{
        width: 100%;
        color: #ffffff;
        text-align: center;
    }
    .lisensi{
        border-radius: 5vw;
        width: 100%;
        height: 8vw;
        text-align: left;
        padding: 1vw;
        background-color: #0866ff;
    }
    .lisensi_grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3vw;
    }
    .card {
        width: 90%;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
        overflow: hidden;
        transition: transform 0.3s ease;
        background-color: white;
        margin: 20px;
        padding: 5vw;
    }
    
    .card:hover {
        transform: translateY(-10px);
    }
    
    .card-img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
    .card-content {
        padding: 15px;
    }
    
    .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #0056b3;
    }
    
    .card-text {
        font-size: 1em;
        color: #666;
        margin-bottom: 20px;
    }
    
    .card-button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    
    .card-button:hover {
        background-color: #0056b3;
    }
    
}